* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#map {
    width: 100vw;
    height: 100vh;
}
#div_image {
    position: absolute;
    z-index: 0;
    bottom: 50px;
    left: 25px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 255, 255);
    font-size: 12px
}

#zoom {
    position: absolute;
    z-index: 10;
    top: 5px;
    right: 5px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(225, 225, 225, 0.6);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px
}

.mousePosition {
    position: fixed;
    top: auto;
    right: auto;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(225, 225, 225, 0.6);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.export-pdf {
    position: absolute;
    z-index: 10;
    bottom: 45px;
    right: 50px;
    padding: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px
}

#format {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    right: 5px; 
}

#resolution {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    right: 95px;
}