/*
Description: Styles included in the Fog Detector experiment
Author: Justin Berli - ERC LostInZoom
*/

@font-face {
    font-family: Ubuntu;
    src: url('Ubuntu/Ubuntu-R.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Ubuntu;
    src: url('Ubuntu/Ubuntu-RI.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Ubuntu;
    src: url('Ubuntu/Ubuntu-L.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: Ubuntu;
    src: url('Ubuntu/Ubuntu-LI.ttf') format('truetype');
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: Ubuntu;
    src: url('Ubuntu/Ubuntu-LI.ttf') format('truetype');
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: UbuntuMono;
    src: url('Ubuntu/UbuntuMono-B.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: UbuntuMono;
    src: url('Ubuntu/UbuntuMono-BI.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: UbuntuMono;
    src: url('Ubuntu/UbuntuMono-RI.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: UbuntuMono;
    src: url('Ubuntu/UbuntuMono-B.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: UbuntuMono;
    src: url('Ubuntu/UbuntuMono-BI.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}