#progress-bar-container {
    width: 0;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

#progress-bar {
    height: 100%;
    width: 0;
    max-width: 100%;
    background-color: var(--main-light);
    border-radius: 5px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}