.checkbox-container {
    display: flex;
    max-width: 800px;
    justify-content: center;
    color: var(--dark-gray);
    margin-bottom: 30px;
    align-self: center;
}

.checkbox {
    flex-shrink: 0;
    align-self: center;
    height: 18px;
    width: 18px;
    margin-right: 15px;
    background: var(--white-transparent);
    border-radius: 50%;
    border: 2px solid var(--main-dark);
    cursor: pointer;
    transition: all .5s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.checkbox:hover {
    box-shadow: 0 0 5px var(--main-light);
}

.checked {
    background: var(--main-light);
    box-shadow: inset 0 0 5px white;
}

.checked:hover {
    background: var(--main-light);
    box-shadow: inset 0 0 5px var(--main-light), 0 0 5px var(--main-light);
}

.checkbox-label {
    font-size: 18px;
    font-weight: bold;
    text-align: justify;
}